.carousel {
  width: 100%;
  position: relative;
  left: -28px;

  @media (max-width: 834px) {
    left: unset;
  }
}

.carouselItem {
  width: 100%;
  padding: 0 28px 55px;

  @media (max-width: 834px) {
    padding: 0 1px 60px;
  }
}